.barra{
    width: 100%;
    height: 80px;
    background-color: #01296F;
    position: fixed;
    z-index: 10;
    opacity: 0.95;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}
.logo{
    width: 77px;
    height: 48px;
    margin: 15px;
    cursor: pointer;
}
.avatarAang{
    margin: 10px;
    cursor: pointer;
}